<div id="three-column" class="container">
    <div class="tbox1">
      <div class="box-style box-style01">
        <div class="content">
          <div class="image">
            <%= image_tag @recipe.avatar.url(:medium), size: "324x200" %>
          </div>
        </div>
    </div>
  </div>

  <div class="tbox2">
    <div class="box-style box-style02">
      <div class="content">
        <h2><%= @recipe.title%></h2>
        <p><%= @recipe.description %></p>
        <p>
        <% if user_signed_in? %>
          <%= link_to 'Editar', edit_recipe_path(@recipe), class: 'btn btn-primary' %>
          <%= link_to 'Excluir', @recipe, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger' %>
        <% end %>
          <%= link_to 'Voltar', :back, class: 'btn btn-default' %>
        </p>
      </div>
    </div>
  </div>
</div>

