<div id="menu-wrapper">
  <div id="menu" class="container">
    <ul>
      <li><%= link_to 'Início', root_path %></li>
      <li><%= link_to 'Receitas', recipes_path %></li>

      <% if user_signed_in? %>
        <li><%= link_to "Bem vindo, #{current_user.email}", edit_user_registration_path %></li>
        <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Entrar', new_user_session_path %></li>
        <li><%= link_to 'Cadastre-se', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div>
